.login-bg {
    background-image: url('../../assets//loginBg.png');
    /* background-image: url('../../assets/bg-red-img.png'); */
    background-size: fill;
    background-position: right bottom;
    background-size: 35%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: #FFF2F2;
    opacity: 0.8;
}

.in-login:focus{
    border: 0.2px solid rgb(0, 0, 0, 0.5);
    box-shadow: 0 0 2px 0.5px rgb(0, 0, 0, 0.5);
}

.in-login {
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    border: 0.5px solid white;
}
