.in-register:focus {
    border: 0.2px solid rgb(0, 0, 0, 0.5);
    box-shadow: 0 0 2px 0.5px rgb(0, 0, 0, 0.5);
}

.in-register {
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    border: 0.5px solid rgb(180, 180, 180);
}
