@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #ff0000;
    --secondary: #FFF2F2;
}

/* style={{ backgroundColor: "var(--primary)"}} */